body{
  padding:20px;
  background:cyan;
}

#grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
  padding: 10px;
}

.grid-item {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: cyan;
}

.grid-item.empty {
  background-color: white;
}
